

/****************************************** Header***************************************/



.header-bg{
    background-color: rgb(231, 208, 178);
    padding: 40px;
}
.header-text h2{
    line-height: 40px;
    font-size: 41px;
    margin-top: 0;
}
.text-color{
    color: tomato
}
.nav-bg-custom{
    background-color:transparent;

}

.card-last-part{
    border: none;
    background-color: white;
}
.btn-color{
    color:white;
}


/******************************************Card Part********************************/
.casual-img{
    background-color: rgba(223, 215, 215, 0.767);
    border: 15px solid white;
    border-radius: 20px;
}

/***************************************Costomer Part**************************/

.custom-rating ul{
    list-style: none;
}
.custom-rating ul li{
    color: rgb(255, 115, 0);
    margin-right: 4px;
}

.customer-img img{
   width: 100px;
    border-radius: 50%;
}